Repository cyprienruffino/zikos: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-build, typescript-test, pytest-unit

typescript-build:
  name: typescript build
  entry: npm run build
  language: system
  pass_filenames: false

typescript-test:
  name: typescript test
  entry: npm run test
  language: system
  pass_filenames: false

pytest-unit:
  name: pytest unit tests with coverage
  entry: pytest
  args:
  - tests/unit/
  - -v
  - -m
  - not comprehensive and not integration
  - -x
  - --cov=backend/zikos
  - --cov-config=pyproject.toml
  - --cov-report=term-missing
  - --cov-fail-under=75
  language: system
  pass_filenames: false
  always_run: false
  env:
  ...

Document SoundFont requirement and add to CI
  .github/workflows/ci.yml
  README.md
Due: none

Suppress litellm spam and exclude get_tool_definition from cloud tool schemas
  backend/zikos/services/llm.py
  backend/zikos/services/llm_backends/cloud.py
Due: pytest-unit

Commit assistant message + tool results atomically after execution
  backend/zikos/services/llm.py
  backend/zikos/services/llm_orchestration/orchestrator.py
  tests/unit/test_llm_streaming.py
  tests/unit/test_orchestrator.py
Due: pytest-unit

Split WIDGET/RECORDING into DISPLAY_WIDGET/INTERACTION_REQUEST
  backend/zikos/mcp/tool.py
  backend/zikos/mcp/tools/interaction/recording/recording_collection.py
  backend/zikos/mcp/tools/interaction/widgets/chord_progression_collection.py
  backend/zikos/mcp/tools/interaction/widgets/ear_trainer_collection.py
  backend/zikos/mcp/tools/interaction/widgets/metronome_collection.py
  backend/zikos/mcp/tools/interaction/widgets/practice_timer_collection.py
  backend/zikos/mcp/tools/interaction/widgets/tempo_trainer_collection.py
  backend/zikos/mcp/tools/interaction/widgets/tuner_collection.py
  backend/zikos/services/llm.py
  backend/zikos/services/llm_orchestration/orchestrator.py
  backend/zikos/services/llm_orchestration/tool_executor.py
  backend/zikos/services/tool_provider.py
  backend/zikos/services/tool_providers/qwen_tool_provider.py
  backend/zikos/services/tool_providers/simplified_tool_provider.py
  tests/unit/test_mcp_server.py
Due: pytest-unit

Commit widget history entries atomically per widget type
  backend/zikos/services/llm.py
  tests/unit/test_llm_streaming.py
Due: pytest-unit

Close tool_use/tool_result pair for interaction requests via handle_audio_ready
  backend/zikos/services/llm.py
  backend/zikos/services/llm_orchestration/conversation_manager.py
  backend/zikos/services/llm_orchestration/orchestrator.py
  tests/unit/test_llm_streaming.py
Due: pytest-unit

Improve tool error messages and fix LLM runaway loop
  backend/zikos/mcp/tools/audio/audio_collection.py
  backend/zikos/mcp/tools/audio/utils.py
  backend/zikos/mcp/tools/processing/midi/midi_collection.py
  backend/zikos/mcp/tools/processing/midi/midi_parser.py
  backend/zikos/services/llm.py
  tests/unit/test_midi_parser.py
Due: pytest-unit

Fix soundfont discovery: scan sibling .sf2 files when exact path is missing
  backend/zikos/mcp/tools/processing/midi/midi_collection.py
Due: pytest-unit

Surface midi_to_audio and midi_to_notation results to the frontend
  backend/zikos/main.py
  backend/zikos/services/llm.py
  frontend/src/types.ts
  frontend/src/ui.ts
  frontend/src/websocket.ts
Due: typescript-build, typescript-test, pytest-unit

Switch notation rendering from MuseScore to verovio
  backend/zikos/mcp/tools/processing/midi/midi_collection.py
  pyproject.toml
Due: pytest-unit

Add debug traceability for LLM conversation history
  backend/zikos/api/__init__.py
  backend/zikos/api/debug.py
  backend/zikos/services/llm.py
Due: pytest-unit

Fix tool result reordering that broke Anthropic tool_use/tool_result pairing
  backend/zikos/services/llm_orchestration/message_preparer.py
Due: pytest-unit

Remove audio_file_id from is_audio_analysis marker check
  backend/zikos/services/llm_orchestration/message_preparer.py
Due: pytest-unit

Disable browser echo cancellation and noise suppression for music recording
  frontend/src/widgets/metronome.ts
  frontend/src/widgets/recording.ts
Due: typescript-build, typescript-test

Add bug tracker with issues found in first real session
  BUGS.md
Due: none

Update bug tracker: close BUG-001, refine BUG-002 root cause
  BUGS.md
Due: none

Remove AudioContextEnricher — LLM should call tools directly for audio context
  backend/zikos/services/llm.py
  backend/zikos/services/llm_orchestration/audio_context_enricher.py
  backend/zikos/services/llm_orchestration/orchestrator.py
  backend/zikos/services/prompt/sections/__init__.py
  backend/zikos/services/prompt/sections/audio_context.py
  tests/unit/test_audio_context_enricher.py
  tests/unit/test_llm_service.py
  tests/unit/test_orchestrator.py
Due: pytest-unit

Incentivize proactive tool use in system prompt
  SYSTEM_PROMPT.md
Due: none

Fix BUG-004 (attack_time=0) and BUG-005 (pitch silent on bass)
  BUGS.md
  backend/zikos/constants.py
  backend/zikos/mcp/tools/audio/pitch.py
  backend/zikos/mcp/tools/audio/timbre.py
  tests/unit/test_audio_tools.py
  tests/unit/test_timbre.py
Due: pytest-unit

Close BUG-004 and BUG-005 in tracker
  BUGS.md
Due: none

Add user settings — persistent profile injected into system prompt
  backend/zikos/config.py
  backend/zikos/mcp/server.py
  backend/zikos/mcp/tools/__init__.py
  backend/zikos/mcp/tools/settings/__init__.py
  backend/zikos/mcp/tools/settings/settings_tools.py
  backend/zikos/services/chat.py
  backend/zikos/services/llm.py
  backend/zikos/services/prompt/sections/__init__.py
  backend/zikos/services/prompt/sections/user_profile.py
  backend/zikos/services/user_settings.py
  tests/unit/test_user_settings.py
Due: pytest-unit

Persist user language on first detection via update_settings
  SYSTEM_PROMPT.md
Due: none

Incentivize LLM to track user progress in settings notes field
  SYSTEM_PROMPT.md
Due: none

Trim leading/trailing silence from recordings after FFmpeg preprocessing
  backend/zikos/services/audio_preprocessing.py
  tests/unit/test_audio_preprocessing.py
Due: pytest-unit

Add greeting rule to system prompt for session start
  SYSTEM_PROMPT.md
Due: none

Add connect handler — LLM greets user when session opens
  backend/zikos/api/chat.py
  backend/zikos/services/chat.py
Due: pytest-unit

Send connect message on WebSocket open to trigger LLM greeting
  frontend/src/websocket.ts
  tests/frontend/websocket.test.ts
Due: typescript-build, typescript-test

Add console print for widget tool calls when DEBUG_TOOL_CALLS=true
  backend/zikos/services/llm_orchestration/tool_executor.py
Due: pytest-unit

Fix 11.6ms quantization artifact in beat deviation detection
  backend/zikos/mcp/tools/audio/rhythm.py
  tests/unit/test_audio_tools.py
Due: pytest-unit

Add instrument detector with spectral centroid + F0 classification
  backend/zikos/mcp/tools/audio/instrument_detector.py
  tests/unit/test_instrument_detector.py
Due: pytest-unit

Redesign instrument detector as raw metrics tool for LLM interpretation
  backend/zikos/mcp/tools/audio/instrument_detector.py
  tests/unit/test_instrument_detector.py
Due: pytest-unit

Wire instrument metrics into baseline analysis
  backend/zikos/mcp/tools/audio/audio_collection.py
  backend/zikos/services/audio.py
Due: pytest-unit

Add system prompt guidance for instrument metrics cross-check
  SYSTEM_PROMPT.md
Due: none

Remove classifiers from rhythm: severity labels, is_on_beat, rhythmic_pattern
  backend/zikos/mcp/tools/audio/rhythm.py
  tests/integration/test_audio_tools_integration.py
  tests/unit/test_audio_tools.py
Due: pytest-unit

Remove boolean classifiers from tempo: is_steady, rushing_detected, dragging_detected
  backend/zikos/mcp/tools/audio/tempo.py
  tests/integration/test_audio_tools_integration.py
  tests/unit/test_audio_tools.py
Due: pytest-unit

Remove is_consistent boolean from dynamics — dynamic_consistency score is sufficient
  backend/zikos/mcp/tools/audio/dynamics.py
Due: pytest-unit

Remove articulation_types classifier — legato/staccato percentages are the raw signal
  backend/zikos/mcp/tools/audio/articulation.py
  tests/unit/test_articulation.py
Due: pytest-unit

Remove groove_type and microtiming_pattern classifiers from groove analysis
  backend/zikos/mcp/tools/audio/groove.py
  tests/unit/test_groove.py
Due: pytest-unit

Remove strengths/weaknesses/recommendations from comprehensive_analysis
  backend/zikos/mcp/tools/audio/comprehensive.py
  tests/unit/test_comprehensive.py
Due: pytest-unit

Quick update to system prompt
  SYSTEM_PROMPT.md
Due: none

Path conditions:
  typescript-build: any of: ^frontend/src/.*\.ts$
  typescript-test: any of: ^(frontend/src/|tests/frontend/).*\.ts$
  pytest-unit: any of: ^(backend/|tests/).*\.py$
