Repository cyprienruffino/zikos: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-build, typescript-test, pytest-unit

typescript-build:
  name: typescript build
  entry: npm run build
  language: system
  pass_filenames: false

typescript-test:
  name: typescript test
  entry: npm run test
  language: system
  pass_filenames: false

pytest-unit:
  name: pytest unit tests with coverage
  entry: pytest
  args:
  - tests/unit/
  - -v
  - -m
  - not comprehensive and not integration
  - -x
  - --cov=backend/zikos
  - --cov-config=pyproject.toml
  - --cov-report=term-missing
  - --cov-fail-under=75
  language: system
  pass_filenames: false
  always_run: false
  env:
  ...

Fix test_root_endpoint to check for HTML response
  tests/integration/test_api.py
Due: pytest-unit

Fix MIDI parser import path in integration tests
  tests/integration/test_midi_api.py
Due: pytest-unit

Fix test_midi_to_audio_with_fluidsynth - patch before synthesis
  tests/integration/test_midi_integration.py
Due: pytest-unit

Removing duplicate linters in the CI
  .github/workflows/ci.yml
Due: none

Removing old self-documentation, creating CLAUDE.md
  CLAUDE.md
  self_docuentation/CONFIGURATION.md
  self_docuentation/COVERAGE_STRATEGY.md
  self_docuentation/CPU_MODEL_RECOMMENDATIONS.md
  self_docuentation/DEPLOYMENT.md
  self_docuentation/DESIGN.md
  self_docuentation/DEVELOPMENT.md
  self_docuentation/IMPLEMENTATION_NOTES.md
  self_docuentation/MOCK_ANALYSIS.md
  self_docuentation/MODEL_RECOMMENDATIONS.md
  self_docuentation/PROMPT_CONDENSATION_ANALYSIS.md
  self_docuentation/TEST_ISSUES_ANALYSIS.md
  self_docuentation/TOKEN_OVERFLOW_DIAGNOSTICS.md
  self_docuentation/TOOLS.md
Due: none

Updating CLAUDE rules
  CLAUDE.md
Due: none

Simplify tool call format for better local LLM compatibility
  SYSTEM_PROMPT.md
  backend/zikos/services/llm_orchestration/tool_call_parser.py
  backend/zikos/services/tool_providers/xml_tool_provider.py
  tests/unit/test_tool_call_parser.py
Due: pytest-unit

Add configurable tool format support for different LLM models
  .env.example
  backend/zikos/config.py
  backend/zikos/services/llm.py
  backend/zikos/services/llm_orchestration/tool_call_parser.py
  backend/zikos/services/tool_providers/__init__.py
  backend/zikos/services/tool_providers/qwen_tool_provider.py
  backend/zikos/services/tool_providers/simplified_tool_provider.py
  tests/unit/test_tool_call_parser.py
  tests/unit/test_tool_providers.py
Due: pytest-unit

Make SYSTEM_PROMPT.md format-agnostic, add --tool-format to cache script
  SYSTEM_PROMPT.md
  scripts/generate_system_prompt_cache.py
Due: none

Fix cache script to use MCPServer for tool registry
  scripts/generate_system_prompt_cache.py
Due: none

Optimize system prompt for small context windows, add parse error feedback
  SYSTEM_PROMPT.md
  backend/zikos/services/llm.py
  backend/zikos/services/llm_orchestration/tool_call_parser.py
  backend/zikos/services/llm_orchestration/tool_injector.py
  backend/zikos/services/tool_providers/qwen_tool_provider.py
  backend/zikos/services/tool_providers/simplified_tool_provider.py
  tests/unit/test_chat_streaming.py
  tests/unit/test_llm_service.py
  tests/unit/test_llm_streaming.py
Due: pytest-unit

Add Qwen3 thinking budget, top_k support, and revise system prompt
  SYSTEM_PROMPT.md
  backend/zikos/config.py
  backend/zikos/constants.py
  backend/zikos/main.py
  backend/zikos/services/llm.py
  backend/zikos/services/llm_backends/base.py
  backend/zikos/services/llm_backends/llama_cpp.py
  backend/zikos/services/llm_orchestration/thinking_extractor.py
  backend/zikos/services/llm_orchestration/tool_executor.py
  backend/zikos/services/tool_provider.py
  backend/zikos/services/tool_providers/qwen_tool_provider.py
  backend/zikos/todo.txt
  frontend/index.html
  scripts/generate_system_prompt_cache.py
  tests/conftest.py
Due: pytest-unit

Add collapsible thinking section to chat UI, improve nothink retry
  backend/zikos/services/llm.py
  frontend/index.html
  frontend/src/ui.ts
  frontend/src/websocket.ts
Due: typescript-build, typescript-test, pytest-unit

Fix broken unit tests for streaming and tool providers
  tests/unit/test_llm_streaming.py
  tests/unit/test_tool_providers.py
Due: pytest-unit

Add recording capabilities to metronome widget
  frontend/src/websocket.ts
  frontend/src/widgets/metronome.ts
  tests/frontend/widgets/metronome.test.ts
Due: typescript-build, typescript-test

Update metronome tool description to reflect built-in recording
  backend/zikos/mcp/tools/interaction/widgets/metronome_collection.py
Due: pytest-unit

Update README to reflect current state of the project
  README.md
Due: none

Updating README.md
  README.md
Due: none

Fix remaining outdated README content
  README.md
Due: none

Update README.md
  README.md
Due: none

Update model recommendations from Qwen2.5 to Qwen3 series
  README.md
Due: none

Refactor ToolProvider into ModelStrategy
  backend/zikos/services/llm.py
  backend/zikos/services/llm_orchestration/orchestrator.py
  backend/zikos/services/model_strategy.py
  backend/zikos/services/tool_provider.py
  backend/zikos/services/tool_providers/__init__.py
  backend/zikos/services/tool_providers/qwen_tool_provider.py
  scripts/generate_system_prompt_cache.py
  scripts/show_system_prompt.py
  tests/unit/test_model_strategy.py
  tests/unit/test_tool_providers.py
Due: pytest-unit

Add hardware detection with RAM and GPU hints
  backend/zikos/utils/gpu.py
  pyproject.toml
Due: pytest-unit

Add model recommendations based on hardware profile
  backend/zikos/utils/model_recommendations.py
  tests/unit/utils/test_model_recommendations.py
Due: pytest-unit

Add context length estimation based on available memory
  backend/zikos/utils/context_length.py
  tests/unit/utils/test_context_length.py
Due: pytest-unit

Add /api/system/* endpoints for hardware and model info
  backend/zikos/api/__init__.py
  backend/zikos/api/system.py
  tests/unit/test_api_system.py
Due: pytest-unit

Add OOM retry logic with automatic context sizing
  backend/zikos/services/llm.py
Due: pytest-unit

Fix app test to mock setup module
  frontend/index.html
  frontend/src/app.ts
  frontend/src/types.ts
  frontend/src/widgets/index.ts
  frontend/src/widgets/setup.ts
  tests/frontend/app.test.ts
Due: typescript-build, typescript-test

Clean up logging and error handling across backend
  backend/zikos/api/chat.py
  backend/zikos/config.py
  backend/zikos/services/llm.py
  backend/zikos/services/prompt/sections/core.py
Due: pytest-unit

Wire LLMOrchestrator into generate_response_stream
  backend/zikos/services/llm.py
  backend/zikos/services/llm_orchestration/orchestrator.py
  tests/unit/test_orchestrator.py
Due: pytest-unit

Extract StreamProcessor and LLM initializer from LLMService
  backend/zikos/services/llm.py
  backend/zikos/services/llm_init.py
  backend/zikos/services/llm_orchestration/stream_processor.py
  tests/unit/test_chat_streaming.py
  tests/unit/test_context_optimization.py
  tests/unit/test_llm_service.py
  tests/unit/test_llm_streaming.py
  tests/unit/test_stream_processor.py
Due: pytest-unit

Replace overmocked tests with real components and FakeBackend
  tests/conftest.py
  tests/helpers/fake_backend.py
  tests/unit/test_chat_streaming.py
  tests/unit/test_llm_service.py
  tests/unit/test_llm_streaming.py
  tests/unit/test_mcp_server.py
  tests/unit/test_orchestrator.py
  tests/unit/test_tool_executor.py
  todo.txt
Due: pytest-unit

Fix app.test.ts: assert on DOM state instead of mock calls
  tests/frontend/app.test.ts
Due: typescript-test

Add cloud LLM backend support via litellm (OpenAI, Anthropic, Gemini, Mistral)
  backend/zikos/config.py
  backend/zikos/services/llm_backends/__init__.py
  backend/zikos/services/llm_backends/base.py
  backend/zikos/services/llm_backends/cloud.py
  backend/zikos/services/llm_backends/llama_cpp.py
  backend/zikos/services/llm_backends/transformers.py
  backend/zikos/services/llm_init.py
  pyproject.toml
  tests/helpers/fake_backend.py
  tests/unit/test_cloud_backend.py
Due: pytest-unit

CI: add portaudio19-dev for litellm/pyaudio build dependency
  .github/workflows/ci.yml
Due: none

Fix temperature deprecation, music21 compat, test isolation, update README
  README.md
  backend/zikos/services/llm_backends/cloud.py
  tests/integration/test_music21_integration.py
  tests/unit/test_llm_service.py
  tests/unit/test_llm_streaming.py
Due: pytest-unit

Fix Anthropic tool_use_id mismatch: prepend assistant msg before tool results
  .pre-commit-config.yaml
  backend/zikos/services/llm.py
  tests/unit/test_llm_streaming.py
Due: pytest-unit

Assign fresh UUIDs to tool_calls before history insertion
  backend/zikos/services/llm.py
Due: pytest-unit

Fix double tool_call accumulation in StreamProcessor
  backend/zikos/services/llm_orchestration/stream_processor.py
  tests/unit/test_stream_processor.py
Due: pytest-unit

Fix litellm spam, soundfont discovery, and get_tool_definition robustness
  .env.example
  backend/zikos/config.py
  backend/zikos/main.py
  backend/zikos/mcp/tools/processing/midi/midi_collection.py
  backend/zikos/mcp/tools/system/system_collection.py
Due: pytest-unit

Path conditions:
  typescript-build: any of: ^frontend/src/.*\.ts$
  typescript-test: any of: ^(frontend/src/|tests/frontend/).*\.ts$
  pytest-unit: any of: ^(backend/|tests/).*\.py$
