Repository cyprienruffino/zikos: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-build, typescript-test, pytest-unit

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: debug-statements

  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.9
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        args: [--ignore-missing-imports]

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        files: ^frontend/.*\.(ts|html|css)$

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -c 'if command -v npm >/dev/null 2>&1 && [ -f package.json ]; then npm run lint; else exit 0; fi'
        language: system
        files: ^frontend/src/.*\.ts$
        pass_filenames: false
      - id: typescript-build
        name: typescript build
        entry: bash -c 'if command -v npm >/dev/null 2>&1 && [ -f package.json ]; then npm run build; else exit 0; fi'
        language: system
        files: ^frontend/src/.*\.ts$
        pass_filenames: false
      - id: typescript-test
        name: typescript test
        entry: bash -c 'if command -v npm >/dev/null 2>&1 && [ -f package.json ] && find frontend/src -name "*.test.ts" -o -name "*.spec.ts" | grep -q .; then npm run test; else exit 0; fi'
        language: system
        files: ^frontend/src/.*\.ts$
        pass_filenames: false
      - id: pytest-unit
        name: pytest unit tests with coverage
        entry: bash -c 'PYTEST_CMD=""; if [ -f .venv/bin/pytest ]; then PYTEST_CMD=".venv/bin/pytest"; elif [ -f venv/bin/pytest ]; then PYTEST_CMD="venv/bin/pytest"; elif [ -n "$VIRTUAL_ENV" ]; then PYTEST_CMD="$VIRTUAL_ENV/bin/pytest"; else PYTEST_CMD="pytest"; fi; PYTHONPATH=backend $PYTEST_CMD tests/unit/ -v -m "not expensive and not llama" -x --cov=backend/zikos --cov-config=pyproject.toml --cov-report=term-missing --cov-fail-under=75 || exit 1'
        language: system
        files: ^(backend/|tests/).*\.py$
        pass_filenames: false
        always_run: false

Fixing pyproject.toml
  pyproject.toml
Due: none

Fixing action
  .gitignore
  package-lock.json
  tests/unit/test_audio_service.py
  tests/unit/test_audio_tools.py
Due: pytest-unit

Fixing issues in the github runner imports
  backend/zikos/mcp/tools/midi_parser.py
  backend/zikos/services/llm.py
  frontend/src/widgets/tempoTrainer.ts
  src/zikos/api/audio.py
  static/src/app.test.ts
Due: eslint, typescript-build, typescript-test, pytest-unit

Updating audio tools
  DOCUMENTATION_AUDIT.md
  SYSTEM_PROMPT.md
  TOOLS.md
  backend/zikos/mcp/server.py
  backend/zikos/mcp/tools/audio/__init__.py
  backend/zikos/mcp/tools/audio/analysis.py
  backend/zikos/mcp/tools/audio/articulation.py
  backend/zikos/mcp/tools/audio/comparison.py
  backend/zikos/mcp/tools/audio/dynamics.py
  backend/zikos/mcp/tools/audio/timbre.py
  tests/unit/test_audio_tools.py
Due: pytest-unit

Updating documentation
  DESIGN.md
  DOCUMENTATION_AUDIT.md
  IMPLEMENTATION_NOTES.md
  README.md
  TEST_COVERAGE.md
  TOOLS.md
Due: none

Implementing time stretching and compairison tools
  TOOLS.md
  backend/zikos/mcp/server.py
  backend/zikos/mcp/tools/audio/__init__.py
  backend/zikos/mcp/tools/audio/analysis.py
  backend/zikos/mcp/tools/audio/comprehensive.py
  backend/zikos/mcp/tools/audio/groove.py
  backend/zikos/mcp/tools/audio/phrase_segmentation.py
  backend/zikos/mcp/tools/audio/repetition.py
  backend/zikos/mcp/tools/audio/segmentation.py
  backend/zikos/mcp/tools/audio/time_stretch.py
  pyproject.toml
  tests/unit/test_audio_tools.py
  tests/unit/test_comprehensive.py
  tests/unit/test_groove.py
  tests/unit/test_phrase_segmentation.py
  tests/unit/test_repetition.py
  tests/unit/test_segmentation.py
  tests/unit/test_time_stretch.py
Due: pytest-unit

Cleaning up orphan file
  DEVELOPMENT.md
  README.md
  src/zikos/api/audio.py
Due: none

Fixing tests
  .github/workflows/ci.yml
  tests/unit/test_groove.py
  tests/unit/test_time_stretch.py
Due: pytest-unit

Fix test suite: update LLM service tests for backend architecture, fix test assertions, resolve mypy errors, and fix pytest hook
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  AUDIO_ANALYSIS_TOOLS.md
  CONFIGURATION.md
  DESIGN.md
  DEVELOPMENT.md
  FUTURE_FEATURES.md
  MODEL_RECOMMENDATIONS.md
  Makefile
  README.md
  TOOLS.md
  backend/zikos/config.py
  backend/zikos/constants.py
  backend/zikos/mcp/tools/analysis/audio/analysis.py
  backend/zikos/services/llm.py
  backend/zikos/services/llm_backends/__init__.py
  backend/zikos/services/llm_backends/base.py
  backend/zikos/services/llm_backends/llama_cpp.py
  backend/zikos/services/llm_backends/transformers.py
  backend/zikos/services/tool_providers/qwen.py
  backend/zikos/utils/__init__.py
  backend/zikos/utils/gpu.py
  pyproject.toml
  scripts/download_model.py
  scripts/setup_env.ps1
  scripts/setup_env.sh
  tests/integration/test_audio_upload_full.py
  tests/integration/test_llm_integration.py
  tests/integration/test_llm_tool_calling.py
  tests/unit/test_articulation.py
  tests/unit/test_audio_tools.py
  tests/unit/test_chat_service.py
  tests/unit/test_chord_detection.py
  tests/unit/test_comprehensive.py
  tests/unit/test_dynamics.py
  tests/unit/test_groove.py
  tests/unit/test_key_detection.py
  tests/unit/test_llm_service.py
  tests/unit/test_mcp_server.py
  tests/unit/test_timbre.py
Due: pytest-unit

adding coverage to gitignore
  coverage/base.css
  coverage/block-navigation.js
  coverage/coverage-final.json
  coverage/favicon.png
  coverage/index.html
  coverage/prettify.css
  coverage/prettify.js
  coverage/sort-arrow-sprite.png
  coverage/sorter.js
  coverage/src/app.ts.html
  coverage/src/config.ts.html
  coverage/src/index.html
  coverage/src/types.ts.html
  coverage/src/ui.ts.html
  coverage/src/websocket.ts.html
  coverage/src/widgets/chordProgression.ts.html
  coverage/src/widgets/earTrainer.ts.html
  coverage/src/widgets/index.html
  coverage/src/widgets/index.ts.html
  coverage/src/widgets/metronome.ts.html
  coverage/src/widgets/practiceTimer.ts.html
  coverage/src/widgets/recording.ts.html
  coverage/src/widgets/tempoTrainer.ts.html
  coverage/src/widgets/tuner.ts.html
Due: none

adding mypy cache to gitignore
  .gitignore
Due: none

Fix test for tool call with thinking mechanism
  SYSTEM_PROMPT.md
  backend/zikos/services/llm.py
  backend/zikos/services/llm_backends/transformers.py
  tests/unit/test_llm_service.py
Due: pytest-unit

Improve JSON parsing for tool calls with multi-line content
  backend/zikos/services/llm.py
Due: pytest-unit

Add file logging for thinking/reasoning messages
  backend/zikos/api/chat.py
  backend/zikos/services/chat.py
  backend/zikos/services/llm.py
Due: pytest-unit

Fix bug when logging missing thinking with None content
  SYSTEM_PROMPT.md
  backend/zikos/services/llm.py
Due: pytest-unit

Emphasize concise, interpreted feedback over raw metric reporting
  SYSTEM_PROMPT.md
Due: none

Update teaching approach to emphasize concise, decision-based feedback
  SYSTEM_PROMPT.md
Due: none

Fix encoding issue when reading SYSTEM_PROMPT.md on Windows
  backend/zikos/services/llm.py
Due: pytest-unit

Add tests to improve coverage
  SYSTEM_PROMPT.md
  backend/zikos/services/llm.py
  tests/unit/test_api_chat.py
  tests/unit/test_llm_service.py
Due: pytest-unit

Improve error messages for MIDI tool calls to prevent infinite loops
  backend/zikos/mcp/tools/processing/midi/midi.py
  backend/zikos/services/llm.py
Due: pytest-unit

Unify all test session IDs to 'test_session' for consistent logging
  tests/frontend/websocket.test.ts
  tests/integration/test_chat_api.py
  tests/integration/test_llm_tool_calling.py
  tests/unit/test_llm_service.py
Due: pytest-unit

Add comprehensive logging to thinking.log including user prompts
  backend/zikos/services/llm.py
Due: pytest-unit

Remove duplicated assertions in test_conversation_history_preserves_system_prompt
  tests/unit/test_llm_service.py
Due: pytest-unit

Add Music Flamingo MCP tool integration
  .gitmodules
  README.md
  backend/zikos/api/chat.py
  backend/zikos/config.py
  backend/zikos/mcp/server.py
  backend/zikos/mcp/tools/__init__.py
  backend/zikos/mcp/tools/analysis/__init__.py
  backend/zikos/mcp/tools/analysis/music_flamingo.py
  backend/zikos/services/audio.py
  backend/zikos/services/audio_preprocessing.py
  backend/zikos/services/chat.py
  backend/zikos/services/llm.py
  backend/zikos/services/llm_backends/base.py
  backend/zikos/services/llm_backends/llama_cpp.py
  backend/zikos/services/llm_backends/transformers.py
  buglist
  frontend/src/types.ts
  frontend/src/ui.ts
  frontend/src/websocket.ts
  self_docuentation/CONFIGURATION.md
  self_docuentation/DEPLOYMENT.md
  self_docuentation/DESIGN.md
  self_docuentation/DEVELOPMENT.md
  self_docuentation/IMPLEMENTATION_NOTES.md
  self_docuentation/MOCK_ANALYSIS.md
  self_docuentation/MODEL_RECOMMENDATIONS.md
  self_docuentation/MUSIC_FLAMINGO_MIGRATION.md
  self_docuentation/TOOLS.md
  tests/frontend/websocket.test.ts
  tests/unit/test_api_chat_streaming.py
  tests/unit/test_audio_preprocessing.py
  tests/unit/test_audio_service.py
  tests/unit/test_audio_tools.py
  tests/unit/test_chat_service.py
  tests/unit/test_chat_streaming.py
  tests/unit/test_context_optimization.py
  tests/unit/test_llm_backend_streaming.py
  tests/unit/test_llm_service.py
  tests/unit/test_llm_streaming.py
  tests/unit/test_music_flamingo_tool.py
Due: eslint, typescript-build, typescript-test, pytest-unit

Inject Music Flamingo tool description into system prompt when configured
  backend/zikos/services/llm.py
  tests/unit/test_llm_service.py
Due: pytest-unit

refactor(llm): Extract AudioContextEnricher class
  backend/zikos/constants.py
  backend/zikos/services/llm.py
  backend/zikos/services/llm_orchestration/__init__.py
  backend/zikos/services/llm_orchestration/audio_context_enricher.py
  backend/zikos/services/llm_orchestration/conversation_manager.py
  backend/zikos/services/llm_orchestration/message_preparer.py
  backend/zikos/services/llm_orchestration/thinking_extractor.py
  backend/zikos/services/prompt/__init__.py
  backend/zikos/services/prompt/builder.py
  backend/zikos/services/prompt/sections/__init__.py
  backend/zikos/services/prompt/sections/audio_context.py
  backend/zikos/services/prompt/sections/base.py
  backend/zikos/services/prompt/sections/core.py
  backend/zikos/services/prompt/sections/music_flamingo.py
  backend/zikos/services/prompt/sections/tools.py
  self_docuentation/DESIGN.md
  self_docuentation/IMPLEMENTATION_NOTES.md
  tests/unit/test_llm_service.py
Due: pytest-unit

refactor(llm): Extract ToolInjector, ToolCallParser, and ResponseValidator classes
  backend/zikos/services/llm.py
  backend/zikos/services/llm_orchestration/response_validator.py
  backend/zikos/services/llm_orchestration/tool_call_parser.py
  backend/zikos/services/llm_orchestration/tool_injector.py
Due: pytest-unit

docs: Update implementation notes with completed refactoring progress
  self_docuentation/IMPLEMENTATION_NOTES.md
Due: none

fix: Remove redundant type annotations causing mypy errors
  backend/zikos/services/llm.py
Due: pytest-unit

refactor(llm): Extract ToolExecutor class
  backend/zikos/services/llm.py
  backend/zikos/services/llm_orchestration/tool_executor.py
Due: pytest-unit

docs: Update implementation notes with ToolExecutor completion
  self_docuentation/IMPLEMENTATION_NOTES.md
Due: none

refactor(llm): Create LLMOrchestrator to reduce duplication
  backend/zikos/services/llm.py
  backend/zikos/services/llm_orchestration/orchestrator.py
Due: pytest-unit

docs: Update implementation notes with LLMOrchestrator completion
  self_docuentation/IMPLEMENTATION_NOTES.md
Due: none

refactor(llm): Replace print() statements with proper logging
  backend/zikos/services/llm.py
  backend/zikos/services/llm_orchestration/response_validator.py
  backend/zikos/services/llm_orchestration/tool_call_parser.py
  backend/zikos/services/llm_orchestration/tool_executor.py
Due: pytest-unit

docs: Update implementation notes with logging migration completion
  self_docuentation/IMPLEMENTATION_NOTES.md
Due: none

refactor(llm): Make streaming the single source of truth
  backend/zikos/services/llm.py
  tests/unit/test_llm_service.py
Due: pytest-unit

refactor(llm): Standardize error handling
  backend/zikos/services/llm.py
  tests/unit/test_llm_service.py
Due: pytest-unit
