Repository cyprienruffino/zikos: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-build, typescript-test, pytest-unit

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-json
      - id: check-merge-conflict
      - id: debug-statements

  - repo: https://github.com/psf/black
    rev: 25.12.0
    hooks:
      - id: black

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.9
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        args: [--ignore-missing-imports]

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        files: ^frontend/.*\.(ts|html|css)$

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v9.17.0
    hooks:
      - id: eslint
        files: ^frontend/src/.*\.ts$
        types_or: [file]

  - repo: local
    hooks:
      - id: typescript-build
        name: typescript build
        entry: npm run build
        language: system
        files: ^frontend/src/.*\.ts$
        pass_filenames: false
      - id: typescript-test
        name: typescript test
        entry: npm run test
        language: system
        files: ^(frontend/src/|tests/frontend/).*\.ts$
        pass_filenames: false
      - id: pytest-unit
        name: pytest unit tests with coverage
        entry: pytest
        args: [
          'tests/unit/',
          '-v',
          '-m', 'not comprehensive and not integration',
          '-x',
          '--cov=backend/zikos',
          '--cov-config=pyproject.toml',
          '--cov-report=term-missing',
          '--cov-fail-under=75'
        ]
        language: system
        files: ^(backend/|tests/).*\.py$
        pass_filenames: false
        always_run: false
        env:
          PYTHONPATH: backend

Fix pyin sample rate and hop-length mismatch in pitch detection
  backend/zikos/mcp/tools/audio/pitch.py
  tests/unit/test_audio_tools.py
Due: pytest-unit

Fix sample/frame confusion in chord segmentation; standard chord names
  backend/zikos/mcp/tools/audio/chords.py
  tests/unit/test_chord_detection.py
Due: pytest-unit

Fix path traversal via upload filename in audio preprocessing
  backend/zikos/constants.py
  backend/zikos/services/audio_preprocessing.py
  tests/unit/test_audio_preprocessing.py
Due: pytest-unit

fix(docker): ship SYSTEM_PROMPT.md in the image, exclude tests/ from context
  .dockerignore
Due: none

Enforce upload size and content-type limits on audio upload
  backend/zikos/api/audio.py
  tests/unit/test_api_audio.py
Due: pytest-unit

Harden CORS and default bind address
  backend/zikos/config.py
  backend/zikos/main.py
  tests/unit/test_config.py
Due: pytest-unit

fix(packaging): include all subpackages via setuptools packages.find
  pyproject.toml
Due: none

Replace fabricated scores with honest nulls plus explanatory notes
  backend/zikos/mcp/tools/audio/comparison.py
  backend/zikos/mcp/tools/audio/comprehensive.py
  backend/zikos/mcp/tools/audio/groove.py
  backend/zikos/mcp/tools/audio/rhythm.py
  backend/zikos/mcp/tools/audio/tempo.py
  backend/zikos/mcp/tools/audio/timbre.py
  tests/unit/test_audio_tools.py
  tests/unit/test_mcp_tools.py
Due: pytest-unit

fix(frontend): eliminate XSS in message rendering
  frontend/index.html
  frontend/src/ui.ts
  frontend/src/utils/sanitize.ts
  tests/frontend/ui.test.ts
Due: typescript-build, typescript-test

Fix injected ERROR system messages replacing the system prompt
  backend/zikos/services/llm.py
  backend/zikos/services/llm_orchestration/message_preparer.py
  tests/unit/test_llm_service.py
  tests/unit/test_message_preparer.py
Due: pytest-unit

Validate audio/MIDI path IDs as UUIDs before filesystem access
  backend/zikos/api/audio.py
  backend/zikos/api/midi.py
  backend/zikos/api/validation.py
  tests/unit/test_api_audio.py
  tests/unit/test_api_midi.py
Due: pytest-unit

fix(docker): dependency layer caching, real extras, sane compose defaults
  Dockerfile
  docker-compose.yml
  pyproject.toml
Due: none

Rewrite intonation analysis: nearest-semitone cents, per-note stability
  backend/zikos/mcp/tools/audio/key.py
  backend/zikos/mcp/tools/audio/pitch.py
  tests/unit/test_audio_tools.py
Due: pytest-unit

Map file-endpoint errors to proper HTTP codes without leaking details
  backend/zikos/api/audio.py
  backend/zikos/api/midi.py
  backend/zikos/services/audio.py
  tests/unit/test_api_audio.py
  tests/unit/test_api_midi.py
Due: pytest-unit

Rewrite MessagePreparer.prepare to preserve order and tool pairs
  backend/zikos/services/llm_orchestration/message_preparer.py
  tests/unit/test_message_preparer.py
Due: pytest-unit

Raise instead of returning empty ID when MIDI synthesis tool errors
  backend/zikos/services/midi.py
  tests/unit/test_midi_service.py
Due: pytest-unit

Validate WebSocket frames instead of dying on malformed input
  backend/zikos/api/chat.py
  tests/unit/test_api_chat_streaming.py
Due: pytest-unit

fix(frontend): escape LLM/server strings in widgets, validate tool ids and URLs, add CSP
  frontend/index.html
  frontend/src/websocket.ts
  frontend/src/widgets/chordProgression.ts
  frontend/src/widgets/earTrainer.ts
  frontend/src/widgets/metronome.ts
  frontend/src/widgets/practiceTimer.ts
  frontend/src/widgets/recording.ts
  frontend/src/widgets/setup.ts
  frontend/src/widgets/tempoTrainer.ts
  frontend/src/widgets/tuner.ts
  tests/frontend/sanitize.test.ts
Due: typescript-build, typescript-test

Close dangling tool_use when interaction requests go unfulfilled
  backend/zikos/api/chat.py
  backend/zikos/services/llm.py
  backend/zikos/services/llm_orchestration/orchestrator.py
  tests/unit/test_llm_streaming.py
Due: pytest-unit

Use real config in /api/system/status instead of default Settings()
  backend/zikos/api/system.py
  tests/unit/test_api_system.py
Due: pytest-unit

Parse numeric env vars defensively in config
  backend/zikos/config.py
  tests/unit/test_config.py
Due: pytest-unit

fix(frontend): recover from mid-stream WebSocket disconnect
  frontend/src/websocket.ts
  tests/frontend/websocket.test.ts
Due: typescript-build, typescript-test

Keep executed tool results when a batch also contains a widget call
  backend/zikos/services/llm.py
  backend/zikos/services/llm_orchestration/orchestrator.py
  tests/unit/test_llm_streaming.py
  tests/unit/test_orchestrator.py
Due: pytest-unit

Fix compare_audio/compare_to_reference correctness
  backend/zikos/mcp/tools/audio/audio_collection.py
  backend/zikos/mcp/tools/audio/comparison.py
  tests/unit/test_audio_tools.py
Due: pytest-unit

Make user settings persistence atomic, locked, and corruption-safe
  backend/zikos/services/user_settings.py
  tests/unit/test_user_settings.py
Due: pytest-unit

Remove stale prompt-grepping debug blocks from llama_cpp backend
  backend/zikos/services/llm_backends/llama_cpp.py
Due: pytest-unit

fix(frontend): validate LLM-supplied numeric/format arguments before widgets
  frontend/src/utils/validate.ts
  frontend/src/websocket.ts
  frontend/src/widgets/chordProgression.ts
  frontend/src/widgets/earTrainer.ts
  frontend/src/widgets/metronome.ts
  frontend/src/widgets/tempoTrainer.ts
  tests/frontend/validate.test.ts
Due: typescript-build, typescript-test

Key upload preprocessing cache on content hash; move into storage
  backend/zikos/services/audio.py
  backend/zikos/services/audio_preprocessing.py
  tests/unit/test_audio_preprocessing.py
Due: pytest-unit

Rewrite repetition detection with structural segmentation
  backend/zikos/mcp/tools/audio/repetition.py
  tests/unit/test_repetition.py
Due: pytest-unit

Remove dead session state from ChatService and log swallowed errors
  backend/zikos/api/chat.py
  backend/zikos/services/chat.py
  tests/unit/test_api_chat_streaming.py
Due: pytest-unit

Stop blocking the event loop in LLM backends
  backend/zikos/services/llm_backends/base.py
  backend/zikos/services/llm_backends/llama_cpp.py
  backend/zikos/services/llm_backends/transformers.py
Due: pytest-unit

Require DEBUG_API_TOKEN for debug endpoints
  backend/zikos/api/debug.py
  backend/zikos/config.py
  tests/unit/test_api_debug.py
Due: pytest-unit

fix(frontend): stop microphone leaks in recording widgets
  frontend/src/types.ts
  frontend/src/widgets/metronome.ts
  frontend/src/widgets/recording.ts
  frontend/src/widgets/tuner.ts
  tests/frontend/widgets/recording.test.ts
Due: typescript-build, typescript-test

Fix groove analysis: nearest-beat microtiming and real swing ratio
  backend/zikos/mcp/tools/audio/groove.py
  tests/unit/test_groove.py
Due: pytest-unit

Preserve formatting and tool_calls in base streaming fallback
  backend/zikos/services/llm_backends/base.py
  tests/comprehensive/test_llm_backend_streaming.py
Due: pytest-unit

fix(frontend): parse chord qualities specific-first in chord progression
  frontend/src/widgets/chordProgression.ts
  tests/frontend/widgets/chordProgression.test.ts
Due: typescript-build, typescript-test

Fix import ordering and formatting in touched files
  backend/zikos/api/audio.py
  backend/zikos/api/debug.py
  backend/zikos/api/midi.py
  backend/zikos/constants.py
  backend/zikos/services/audio.py
  tests/unit/test_api_debug.py
  tests/unit/test_audio_preprocessing.py
  tests/unit/test_midi_service.py
Due: pytest-unit

Update integration tests that pinned pre-fix API behavior
  tests/integration/test_audio_api.py
  tests/integration/test_midi_api.py
Due: pytest-unit

Fix dynamics analysis dB references and peak threshold
  backend/zikos/mcp/tools/audio/dynamics.py
  tests/unit/test_dynamics.py
Due: pytest-unit

feat(deps): commit requirements.lock, pin librosa/numpy/numba
  .gitignore
  README.md
  pyproject.toml
  requirements.lock
Due: none
