Repository cyprienruffino/zikos: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-build, typescript-test, pytest-unit

typescript-build:
  name: typescript build
  entry: npm run build
  language: system
  pass_filenames: false

typescript-test:
  name: typescript test
  entry: npm run test
  language: system
  pass_filenames: false

pytest-unit:
  name: pytest unit tests with coverage
  entry: pytest
  args:
  - tests/unit/
  - -v
  - -m
  - not comprehensive and not integration
  - -x
  - --cov=backend/zikos
  - --cov-config=pyproject.toml
  - --cov-report=term-missing
  - --cov-fail-under=75
  language: system
  pass_filenames: false
  always_run: false
  env:
  ...

fix(lint): make eslint gate real, add license/engines to package.json
  .eslintrc.json
  package.json
Due: none

Round-trip tool results as JSON and centralize argument parsing
  backend/zikos/services/llm.py
  backend/zikos/services/llm_orchestration/orchestrator.py
  backend/zikos/services/llm_orchestration/tool_executor.py
  tests/unit/test_tool_executor.py
Due: pytest-unit

Clean up main.py: dead query stripping, single version source
  backend/zikos/main.py
Due: pytest-unit

Cache baseline analysis per audio_file_id; hoist shutil import
  backend/zikos/services/audio.py
  tests/unit/test_audio_service.py
Due: pytest-unit

Deduplicate HardwareResponse assembly in system API
  backend/zikos/api/system.py
Due: pytest-unit

Make the MIDI text parser strict and populate warnings
  backend/zikos/mcp/tools/processing/midi/midi_collection.py
  backend/zikos/mcp/tools/processing/midi/midi_parser.py
  tests/unit/test_midi_parser.py
Due: pytest-unit

fix(frontend): shared AudioContext + lookahead beat scheduler
  frontend/src/types.ts
  frontend/src/widgets/audioEngine.ts
  frontend/src/widgets/chordProgression.ts
  frontend/src/widgets/earTrainer.ts
  frontend/src/widgets/metronome.ts
  frontend/src/widgets/tempoTrainer.ts
  tests/frontend/widgets/audioEngine.test.ts
  tests/frontend/widgets/chordProgression.test.ts
  tests/frontend/widgets/earTrainer.test.ts
  tests/frontend/widgets/metronome.test.ts
  tests/frontend/widgets/tempoTrainer.test.ts
Due: typescript-build, typescript-test

Fix StreamProcessor thinking mode and ThinkingExtractor tag handling
  backend/zikos/services/llm_backends/cloud.py
  backend/zikos/services/llm_orchestration/stream_processor.py
  backend/zikos/services/llm_orchestration/thinking_extractor.py
  tests/unit/test_stream_processor.py
  tests/unit/test_thinking_extractor.py
Due: pytest-unit

fix(quality): honest coverage gate, working pre-commit hooks, one formatter
  .coveragerc
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  CLAUDE.md
  pyproject.toml
Due: none

Harden CloudBackend streaming and configuration
  backend/zikos/services/llm_backends/cloud.py
  tests/unit/test_cloud_backend.py
Due: pytest-unit

fix(frontend): robust streaming state machine
  frontend/src/ui.ts
  frontend/src/websocket.ts
  tests/frontend/ui.test.ts
  tests/frontend/websocket.test.ts
Due: typescript-build, typescript-test

fix(frontend): use real MediaRecorder mime type instead of fake audio/wav
  frontend/src/utils/media.ts
  frontend/src/widgets/metronome.ts
  frontend/src/widgets/recording.ts
  tests/frontend/media.test.ts
  tests/frontend/widgets/recording.test.ts
Due: typescript-build, typescript-test

Fix midi_to_audio instrument handling and pyfluidsynth fallback
  backend/zikos/mcp/tools/processing/midi/midi_collection.py
  tests/unit/test_midi_service.py
  tests/unit/test_midi_tools.py
Due: pytest-unit

fix(tests): revive bit-rotted and permanently-deselected tests
  tests/integration/test_api.py
  tests/integration/test_llm_integration.py
  tests/integration/test_llm_tool_calling.py
  tests/unit/test_audio_service.py
  tests/unit/test_llm_backend_streaming.py
  tests/unit/test_mcp_tools.py
Due: pytest-unit

Route cloud providers to the native strategy and fix format overrides
  backend/zikos/services/llm_orchestration/tool_call_parser.py
  backend/zikos/services/model_strategy.py
  tests/unit/test_model_strategy.py
Due: pytest-unit

fix(frontend): roll back user bubble and restore input on failed send
  frontend/src/app.ts
  tests/frontend/app.test.ts
Due: typescript-build, typescript-test

fix(tests): guard conftest logs cleanup, seed numpy RNG per test
  tests/conftest.py
Due: pytest-unit

Stop SimplifiedToolProvider injecting the full tool list twice
  backend/zikos/services/tool_providers/simplified_tool_provider.py
  tests/unit/test_tool_providers.py
Due: pytest-unit

ci: parallel unit tests, frontend build step, comprehensive collect smoke
  .github/workflows/ci.yml
Due: none

fix(frontend): detach stale WebSocket handlers on reconnect
  frontend/src/websocket.ts
Due: typescript-build, typescript-test

Normalize errors at the MCP boundary; validate widget params
  backend/zikos/mcp/server.py
  backend/zikos/mcp/tools/interaction/widgets/metronome_collection.py
  backend/zikos/mcp/tools/interaction/widgets/tempo_trainer_collection.py
  backend/zikos/mcp/tools/interaction/widgets/tuner_collection.py
  tests/unit/test_mcp_server.py
Due: pytest-unit

feat(frontend): accessibility basics for chat and setup overlay
  frontend/index.html
  frontend/src/widgets/setup.ts
Due: typescript-build, typescript-test

Fix simplified parser multiline dedent slicing and missing exit
  backend/zikos/services/llm_orchestration/tool_call_parser.py
  tests/unit/test_tool_call_parser.py
Due: pytest-unit

refactor(frontend): extract shared getMessagesEl, delete dead widget barrel
  frontend/src/dom.ts
  frontend/src/ui.ts
  frontend/src/widgets/chordProgression.ts
  frontend/src/widgets/earTrainer.ts
  frontend/src/widgets/index.ts
  frontend/src/widgets/metronome.ts
  frontend/src/widgets/practiceTimer.ts
  frontend/src/widgets/tempoTrainer.ts
  frontend/src/widgets/tuner.ts
Due: typescript-build, typescript-test

Use '[session start]' sentinel instead of empty greeting message
  SYSTEM_PROMPT.md
  backend/zikos/services/llm_orchestration/orchestrator.py
  tests/unit/test_orchestrator.py
Due: pytest-unit

fix(frontend): report cumulative minutes in practice break reminders
  frontend/src/widgets/practiceTimer.ts
  tests/frontend/widgets/practiceTimer.test.ts
Due: typescript-build, typescript-test

docs: sync README/CLAUDE.md/BUGS.md/.env.example with reality
  .env.example
  .prettierignore
  BUGS.md
  CLAUDE.md
  README.md
  pyproject.toml
  requirements.lock
  todo.txt
Due: none

fix(frontend): ear trainer chords mode uses chord qualities, accepts enharmonics
  frontend/src/widgets/earTrainer.ts
  tests/frontend/widgets/earTrainer.test.ts
Due: typescript-build, typescript-test

Add per-session locking, LRU session eviction, and drop shared default session
  backend/zikos/services/llm.py
  backend/zikos/services/llm_orchestration/conversation_manager.py
  tests/unit/test_conversation_manager.py
  tests/unit/test_llm_service.py
Due: pytest-unit

Clean up SYSTEM_PROMPT.md rule conflicts
  SYSTEM_PROMPT.md
Due: none

Validate audio_file_id UUIDs at the LLM-facing tool boundary
  backend/zikos/mcp/tools/audio/audio_collection.py
  backend/zikos/mcp/tools/audio/utils.py
  tests/unit/test_audio_tools.py
  tests/unit/test_comprehensive.py
  tests/unit/test_phrase_segmentation.py
  tests/unit/test_segmentation.py
Due: pytest-unit

fix(scripts): repair download_model.py catalog and list output
  scripts/download_model.py
Due: none

get_audio_info: report real on-disk file size
  backend/zikos/mcp/tools/audio/audio_collection.py
  tests/unit/test_audio_tools.py
Due: pytest-unit

feat(ts): type-check frontend tests via tsconfig.test.json
  .github/workflows/ci.yml
  frontend/tests/setup.ts
  package.json
  tests/frontend/websocket.test.ts
  tests/frontend/widgets/chordProgression.test.ts
  tests/frontend/widgets/earTrainer.test.ts
  tests/frontend/widgets/recording.test.ts
  tests/frontend/widgets/tuner.test.ts
  tsconfig.json
  tsconfig.test.json
  vitest.config.ts
Due: typescript-test

Stretch fixes: trailing-silence phrases, accent heuristic, single STFT
  backend/zikos/mcp/tools/audio/articulation.py
  backend/zikos/mcp/tools/audio/phrase_segmentation.py
  backend/zikos/mcp/tools/audio/timbre.py
  tests/unit/test_articulation.py
  tests/unit/test_phrase_segmentation.py
Due: pytest-unit

Remove dead orchestration and backend code
  backend/zikos/api/chat.py
  backend/zikos/constants.py
  backend/zikos/services/llm.py
  backend/zikos/services/llm_backends/base.py
  backend/zikos/services/llm_backends/cloud.py
  backend/zikos/services/llm_backends/llama_cpp.py
  backend/zikos/services/llm_backends/transformers.py
  backend/zikos/services/llm_orchestration/message_preparer.py
  backend/zikos/services/llm_orchestration/orchestrator.py
  backend/zikos/services/llm_orchestration/response_validator.py
  backend/zikos/services/llm_orchestration/tool_executor.py
  tests/comprehensive/test_llm_backend_streaming.py
  tests/helpers/fake_backend.py
  tests/unit/test_audio_tools.py
  tests/unit/test_cloud_backend.py
  tests/unit/test_llm_streaming.py
  tests/unit/test_message_preparer.py
  tests/unit/test_orchestrator.py
  tests/unit/test_timbre.py
  tests/unit/test_tool_executor.py
Due: pytest-unit

Fix mypy no-any-return in message preparer
  backend/zikos/services/llm_orchestration/message_preparer.py
Due: pytest-unit

key.py: margin-based confidence instead of (corr+1)/2 remap
  backend/zikos/mcp/tools/audio/key.py
Due: pytest-unit

Apply ruff formatting and import-order fixes across changed files
  backend/zikos/mcp/server.py
  backend/zikos/mcp/tools/audio/groove.py
  backend/zikos/mcp/tools/interaction/widgets/metronome_collection.py
  backend/zikos/mcp/tools/interaction/widgets/tempo_trainer_collection.py
  backend/zikos/mcp/tools/processing/midi/midi_collection.py
  backend/zikos/mcp/tools/processing/midi/midi_parser.py
  tests/unit/test_articulation.py
  tests/unit/test_audio_tools.py
  tests/unit/test_chord_detection.py
  tests/unit/test_dynamics.py
  tests/unit/test_groove.py
  tests/unit/test_llm_streaming.py
  tests/unit/test_timbre.py
Due: pytest-unit

Count tool_calls payloads in token budgets and align prepare/validate limits
  backend/zikos/services/llm_orchestration/message_preparer.py
  backend/zikos/services/llm_orchestration/response_validator.py
  backend/zikos/utils/token_budget.py
Due: pytest-unit

Path conditions:
  typescript-build: any of: ^frontend/src/.*\.ts$
  typescript-test: any of: ^(frontend/src/|tests/frontend/).*\.ts$
  pytest-unit: any of: ^(backend/|tests/).*\.py$
