Repository cyprienruffino/zikos: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-build, typescript-test, pytest-unit

eslint:
  name: eslint
  entry: bash -c 'if command -v npm >/dev/null 2>&1 && [ -f package.json ]; then npm run lint; else exit 0; fi'
  language: system
  pass_filenames: false

typescript-build:
  name: typescript build
  entry: bash -c 'if command -v npm >/dev/null 2>&1 && [ -f package.json ]; then npm run build; else exit 0; fi'
  language: system
  pass_filenames: false

typescript-test:
  name: typescript test
  entry: bash -c 'if command -v npm >/dev/null 2>&1 && [ -f package.json ] && find tests/frontend -name "*.test.ts" -o -name "*.spec.ts" | grep -q .; then npm run test; else exit 0; fi'
  language: system
  pass_filenames: false

pytest-unit:
  name: pytest unit tests with coverage
  entry: bash -c 'if [ -f venv/Scripts/python.exe ]; then venv/Scripts/python.exe -m pytest "$@"; elif [ -f venv/bin/python ]; then venv/bin/python -m pytest "$@"; else python -m pytest "$@"; fi'
  args:
  - tests/unit/
  - -v
  - -m
  ...

Remove duplicate app.test.ts from static/src
  static/src/app.test.ts
Due: none

Fix hanging test, test failures, and linting issues
  .github/workflows/ci.yml
  .gitignore
  .gitmodules
  Dockerfile
  backend/zikos/services/llm.py
  backend/zikos/services/llm_orchestration/orchestrator.py
  backend/zikos/services/llm_orchestration/response_validator.py
  backend/zikos/services/llm_orchestration/tool_call_parser.py
  backend/zikos/services/llm_orchestration/tool_executor.py
  buglist
  package.json
  tests/unit/test_audio_service.py
  tests/unit/test_audio_tools.py
Due: pytest-unit

Fix black formatting issues
  backend/zikos/services/llm.py
  backend/zikos/services/llm_backends/transformers.py
  backend/zikos/services/llm_orchestration/tool_call_parser.py
Due: pytest-unit

Fix mypy type error in tempo.py
  backend/zikos/mcp/tools/analysis/audio/tempo.py
Due: pytest-unit

Add missing tiktoken dependency
  pyproject.toml
Due: none

Fix mypy type annotations for history variables in test files
  backend/zikos/api/chat.py
  tests/unit/test_api_chat.py
  tests/unit/test_api_chat_streaming.py
  tests/unit/test_audio_context_enricher.py
  tests/unit/test_chat_service.py
  tests/unit/test_conversation_manager.py
  tests/unit/test_llm_service.py
  tests/unit/test_message_preparer.py
  tests/unit/test_orchestrator.py
  tests/unit/test_response_validator.py
  tests/unit/test_thinking_extractor.py
  tests/unit/test_tool_call_parser.py
  tests/unit/test_tool_executor.py
  tests/unit/test_tool_injector.py
Due: pytest-unit

Fix test issues: validate behavior instead of checking wrong methods
  self_docuentation/TEST_ISSUES_ANALYSIS.md
  tests/unit/test_llm_service.py
Due: pytest-unit

Fix test_compare_to_reference_midi_file: patch midi_storage_path settings
  tests/unit/test_audio_tools.py
Due: pytest-unit

Fix test coverage: remove audio analysis from omit, unify threshold to 75%
  .github/workflows/ci.yml
  pyproject.toml
  self_docuentation/COVERAGE_STRATEGY.md
  tests/comprehensive/test_llm_backend_streaming.py
  tests/unit/test_articulation.py
  tests/unit/test_chord_detection.py
  tests/unit/test_comprehensive.py
  tests/unit/test_dynamics.py
  tests/unit/test_groove.py
  tests/unit/test_key_detection.py
  tests/unit/test_mcp_tools.py
  tests/unit/test_midi_tools.py
  tests/unit/test_phrase_segmentation.py
  tests/unit/test_timbre.py
  tests/unit/test_time_stretch.py
  tests/unit/test_tool_providers.py
Due: pytest-unit

Fix test_midi_to_notation_default_format: create MIDI file and patch storage path
  tests/unit/test_midi_tools.py
Due: pytest-unit

Remove comprehensive tests from CI - hardware insufficient
  .github/workflows/ci.yml
Due: none

Fix integration tests: create MIDI file before use, accept error responses when LLM unavailable
  tests/integration/test_chat_api.py
  tests/integration/test_music21_integration.py
Due: pytest-unit

Updating tests
  tests/unit/test_audio_tools.py
  tests/unit/test_chat_service.py
  tests/unit/test_comprehensive.py
  tests/unit/test_groove.py
  tests/unit/test_midi_tools.py
  tests/unit/test_music_flamingo_tool.py
  tests/unit/test_phrase_segmentation.py
  tests/unit/test_time_stretch.py
Due: pytest-unit

black and ruff
  .pre-commit-config.yaml
  tests/unit/test_comprehensive.py
Due: pytest-unit

Simplfying pre-commit
  .pre-commit-config.yaml
Due: none

Using official ESLint hook in pre-commit
  .pre-commit-config.yaml
Due: none

Adding env example:
  .env.example
Due: none

Lots of cleaning
  .env.example
  .pre-commit-config.yaml
  Makefile
  README.md
  backend/zikos/config.py
  backend/zikos/constants.py
  requirements.txt
  scripts/setup_env.ps1
  scripts/setup_env.sh
  self_docuentation/CONFIGURATION.md
  self_docuentation/COVERAGE_STRATEGY.md
  self_docuentation/DEPLOYMENT.md
  self_docuentation/DESIGN.md
  self_docuentation/DEVELOPMENT.md
  self_docuentation/IMPLEMENTATION_NOTES.md
  self_docuentation/MOCK_ANALYSIS.md
  self_docuentation/MODEL_RECOMMENDATIONS.md
  self_docuentation/MUSIC_FLAMINGO_MIGRATION.md
  self_docuentation/TEST_ISSUES_ANALYSIS.md
  self_docuentation/TOOLS.md
  test-output.txt
  tests/conftest.py
  tests/integration/test_audio_api.py
  tests/integration/test_chat_api.py
  tests/integration/test_mcp_tool_calling.py
  tests/integration/test_midi_api.py
  tests/integration/test_midi_integration.py
  tests/unit/test_chat_service.py
  tests/unit/test_mcp_tools.py
  tests/unit/test_midi_tools.py
Due: pytest-unit

Updating doc
  README.md
Due: none

Adding local changes before merge
  todo.txt
Due: none

Add TinyLlama 1.1B as default CPU model, Mistral 7B as default GPU model
  backend/zikos/constants.py
  scripts/download_model.py
  todo.txt
Due: pytest-unit

Remove pinned requirements.txt, use pyproject.toml deps
  .gitignore
  README.md
  requirements.txt
Due: none

Fixes, update deps
  backend/zikos/mcp/tools/audio/articulation.py
  backend/zikos/mcp/tools/audio/comparison.py
  backend/zikos/mcp/tools/audio/dynamics.py
  backend/zikos/mcp/tools/audio/timbre.py
  pyproject.toml
Due: pytest-unit

Fix src.zikos imports to zikos
  tests/integration/test_api.py
  tests/integration/test_audio_tools_integration.py
  tests/integration/test_chat_api.py
  tests/integration/test_midi_api.py
  tests/unit/test_api_audio.py
  tests/unit/test_api_chat.py
  tests/unit/test_chat_service.py
  tests/unit/test_dynamics.py
  tests/unit/test_midi_tools.py
  tests/unit/test_timbre.py
Due: pytest-unit

Moving tool use details from SYSTEM_PROMPT.md to tool prompt injection
  README.md
  SYSTEM_PROMPT.md
  backend/zikos/mcp/tools/analysis/audio/analysis.py
  backend/zikos/mcp/tools/processing/midi/midi.py
  docker-compose.yml
  scripts/download_model.py
  self_docuentation/CONFIGURATION.md
  self_docuentation/MODEL_RECOMMENDATIONS.md
  todo.txt
Due: pytest-unit

Removing references to MusicFlamingo, that was a bad idea
  backend/zikos/config.py
  backend/zikos/mcp/server.py
  backend/zikos/mcp/tools/__init__.py
  backend/zikos/mcp/tools/analysis/__init__.py
  backend/zikos/mcp/tools/analysis/music_flamingo.py
  backend/zikos/services/llm.py
  backend/zikos/services/prompt/sections/__init__.py
  backend/zikos/services/prompt/sections/music_flamingo.py
  self_docuentation/DESIGN.md
  self_docuentation/IMPLEMENTATION_NOTES.md
  self_docuentation/MUSIC_FLAMINGO_MIGRATION.md
  tests/unit/test_llm_service.py
  tests/unit/test_music_flamingo_tool.py
Due: pytest-unit

Add garbled output detection and validation for both LLM backends
  .env.example
  backend/zikos/main.py
  backend/zikos/mcp/tools/processing/midi/midi.py
  backend/zikos/services/llm.py
  backend/zikos/services/llm_backends/llama_cpp.py
  backend/zikos/services/llm_backends/transformers.py
  pyproject.toml
Due: pytest-unit

Fix root cause of garbled output: set RoPE parameters and detect context window mismatches
  backend/zikos/services/llm.py
  backend/zikos/services/llm_backends/llama_cpp.py
Due: pytest-unit

Fix: preserve audio analysis messages and fix test fixture
  backend/zikos/services/llm_orchestration/message_preparer.py
  tests/unit/test_llm_service.py
Due: pytest-unit

Add detailed descriptions to audio analysis tools
  backend/zikos/mcp/server.py
  backend/zikos/mcp/tool.py
  backend/zikos/mcp/tools/__init__.py
  backend/zikos/mcp/tools/audio/articulation.py
  backend/zikos/mcp/tools/audio/audio_collection.py
  backend/zikos/mcp/tools/audio/chords.py
  backend/zikos/mcp/tools/audio/comparison.py
  backend/zikos/mcp/tools/audio/comprehensive.py
  backend/zikos/mcp/tools/audio/dynamics.py
  backend/zikos/mcp/tools/audio/groove.py
  backend/zikos/mcp/tools/audio/key.py
  backend/zikos/mcp/tools/audio/phrase_segmentation.py
  backend/zikos/mcp/tools/audio/pitch.py
  backend/zikos/mcp/tools/audio/repetition.py
  backend/zikos/mcp/tools/audio/rhythm.py
  backend/zikos/mcp/tools/audio/segmentation.py
  backend/zikos/mcp/tools/audio/tempo.py
  backend/zikos/mcp/tools/audio/timbre.py
  backend/zikos/mcp/tools/audio/time_stretch.py
  backend/zikos/mcp/tools/interaction/widgets/chord_progression_collection.py
  backend/zikos/mcp/tools/interaction/widgets/practice_timer_collection.py
  backend/zikos/mcp/tools/processing/midi/midi_collection.py
  backend/zikos/mcp/tools/system/__init__.py
  backend/zikos/mcp/tools/system/system_collection.py
Due: pytest-unit

Optimize system prompt size by removing tool descriptions from injection
  SYSTEM_PROMPT.md
  backend/zikos/services/llm_orchestration/tool_injector.py
  backend/zikos/services/tool_providers/structured_tool_provider.py
  backend/zikos/services/tool_providers/xml_tool_provider.py
Due: pytest-unit

Fix test assertions to match current StructuredToolProvider implementation
  SYSTEM_PROMPT.md
  backend/zikos/mcp/tools/interaction/recording/recording_collection.py
  backend/zikos/mcp/tools/interaction/widgets/ear_trainer_collection.py
  backend/zikos/mcp/tools/interaction/widgets/metronome_collection.py
  backend/zikos/mcp/tools/interaction/widgets/tempo_trainer_collection.py
  backend/zikos/mcp/tools/interaction/widgets/tuner_collection.py
  backend/zikos/mcp/tools/system/system_collection.py
  backend/zikos/services/llm_orchestration/message_preparer.py
  backend/zikos/services/tool_providers/structured_tool_provider.py
  backend/zikos/services/tool_providers/xml_tool_provider.py
  frontend/src/app.ts
  frontend/src/websocket.ts
  tests/unit/test_tool_providers.py
Due: eslint, typescript-build, typescript-test, pytest-unit

Drop TinyLlama support and remove system message prepending
  README.md
  SYSTEM_PROMPT copy.md
  SYSTEM_PROMPT.md
  backend/zikos/constants.py
  backend/zikos/services/llm.py
  backend/zikos/services/llm_backends/base.py
  backend/zikos/services/llm_backends/llama_cpp.py
  backend/zikos/services/llm_backends/transformers.py
  backend/zikos/services/llm_orchestration/message_preparer.py
  backend/zikos/services/llm_orchestration/orchestrator.py
  backend/zikos/services/tool_providers/structured_tool_provider.py
  backend/zikos/services/tool_providers/xml_tool_provider.py
  docker-compose.yml
  scripts/download_model.py
  scripts/show_system_prompt.py
  self_docuentation/CONFIGURATION.md
  self_docuentation/CPU_MODEL_RECOMMENDATIONS.md
  self_docuentation/MODEL_RECOMMENDATIONS.md
  tests/unit/test_context_optimization.py
  tests/unit/test_llm_service.py
  tests/unit/test_message_preparer.py
  tests/unit/test_tool_providers.py
Due: pytest-unit

Add system prompt KV cache support for llama-cpp-python
  .env.example
  README.md
  backend/zikos/services/llm_backends/llama_cpp.py
  run.py
  scripts/generate_system_prompt_cache.py
  self_docuentation/CONFIGURATION.md
Due: pytest-unit

Fix system prompt cache loading - use correct llama_state_load_file signature
  backend/zikos/services/llm_backends/llama_cpp.py
Due: pytest-unit

Fix llm tool use
  backend/zikos/services/llm.py
  backend/zikos/services/llm_orchestration/tool_call_parser.py
  backend/zikos/todo.txt
Due: pytest-unit

Fix mypy type checking errors
  backend/zikos/services/llm_backends/llama_cpp.py
  backend/zikos/services/llm_backends/transformers.py
  backend/zikos/utils/context_length.py
  pyproject.toml
Due: pytest-unit

Fix CI test failures and coverage configuration
  .github/workflows/ci.yml
  .gitignore
  backend/zikos/mcp/tools/system/system_collection.py
  pyproject.toml
  tests/unit/test_midi_tools.py
  tests/unit/test_system_tools.py
Due: pytest-unit

Fix integration test imports
  tests/integration/test_api.py
  tests/integration/test_midi_api.py
Due: pytest-unit

Path conditions:
  eslint: any of: ^frontend/src/.*\.ts$
  typescript-build: any of: ^frontend/src/.*\.ts$
  typescript-test: any of: ^(frontend/src/|tests/frontend/).*\.ts$
  pytest-unit: any of: ^(backend/|tests/).*\.py$
